{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/css.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/buttons.css' %}">
    <link rel=" icon" href="{% static 'main/img/favicon.ico' %}" type='image/x-icon' />
    {% block script %}

    {% endblock script%}
</head>
<body>
    <div class = "back">
        <div class = 'top'>

                 <!--  <!-->
                <div class="logo2"><samp>Управление спортивным инвентарем</samp></div>

                <div class = 'lower'>

                    <div class="left-shortcuts">
                        <a href="{% url 'main' %}" class = 'btn3'> Главная </a>
                        <a href="{% url 'my' %}" class = 'btn3'> Ваш инвентарь </a>
                        <a href="{% url 'application-get' %}" class = 'btn3'> Получение инвентаря </a>
                        <a href="{% url 'application-repair' %}" class = 'btn3'> Ремонт или замена инвентаря </a>
                        {% if request.user.is_superuser %}
                        <a href="{% url 'console' %}" class = 'btn3'> Админка </a>
                        {% endif %}
                    </div>
                    <div class="right-shortcuts">
                        {% if request.user.is_authenticated %}
                            <li class="last"> {{user.username}} | <a href="{% url 'logout' %}" class="btn3">Выйти</a></li>
                        {% else %}
                            <li class="last"><a href="register" class="btn3"> Регистрация</a>  <a href="login" class="btn3"> Войти </a></li>
                        {% endif %}
                    </div>



                </div>
        </div>
        <div class ="admin-content">

            <div class="side-bar">
                <a href="{% url 'edit_inventory' %}" class = 'btn4'> Редактирование инвентаря </a>
                <a href="{% url 'new_name_inventory' %}" class = 'btn4'> Добавление названия инвентаря </a>
                <a href="{% url 'purchase_plan' %}" class = 'btn4'> План закупок </a>
                <a href="{% url 'Request_for_receipt_inventory' %}" class = 'btn4'> Заявки пользователей на получение инвентаря</a>
                <a href="{% url 'Request_for_repair_inventory' %}" class = 'btn4'> Заявки пользователей на ремонт или замену инвентаря </a>
                <a href="{% url 'Inventory_management' %}" class = 'btn4'> Управление инвентарем </a>
                <a href="{% url 'history' %}" class = 'btn4'> Отчеты </a>
            </div>
            <div class="right-content">
                {% block content  %}

                {% endblock %}
            </div>

        </div>

        {% block data  %}

        {% endblock %}

    </div>

</body>
</html>